<?xml version='1.0'?><!-- incomplete template -->
<manifest xmlns:a='http://schemas.android.com/apk/res/android' a:versionCode='0' a:versionName='0'>

	<uses-sdk a:minSdkVersion='21' a:targetSdkVersion='24'/>
        <!--         ↓                targetSdkVersion 24 ← androidVersion in spec/build/ConfigDefault.js
          grep 'minSdkVersion' to show dependent code -->

    <!-- Permissions [P].  Grep short name to show dependent code. -->
    <uses-permission a:name='android.permission.INTERNET'/>

    <application a:name='waymaker.top.android.WaykitUI'>
        <activity a:name='waymaker.top.android.Wayranging'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
                </intent-filter>
            </activity>
        </application>

    </manifest>

<!-- Notes - - - - - - - - - - - - - - -

    [P] List of all permissions: https://developer.android.com/reference/android/Manifest.permission.html

  -->
