<?xml version='1.0'?><!-- incomplete template -->
<manifest xmlns:a='http://schemas.android.com/apk/res/android' a:versionCode='0' a:versionName='0'>
    <application a:name='waymaker.top.android.Application'>
        <activity a:name='waymaker.top.android.Waymaking'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
                </intent-filter>
            </activity>
        </application>
    </manifest>
